.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__tokens-title {
    padding-top: 24px;
  }

  &__tokens {
    display: flex;
    padding-top: 12px;

    & > div {
      margin: 0 8px;
    }

    &__text {
      display: flex;
    }
  }
}